<%- include('../partials/header') %>

<form id="new-form" action="/workouts" method="POST">
    <label>Date:</label>
    <input type="date" name="date"><br>
    <label>Upper:</label>
    <input type="text" name="upper"><br>
    <label>Lower:</label>
    <input type="text" name="lower"><br>
    <label>Conditioning:</label>
    <input type="text" name="conditioning"><br><br>
    <input type="submit" value="Submit">
</form>