<%- include('./partials/header') %>

<body>
  <h1>Kavorka</h1>
  <div>Expand your remote coaching business with the platform built for strength and conditioning coaches.</div>
  <br>
  <div>
    <div>Design programs, blocks, and workouts.</div>
    <div>Create athlete dossiers.</div>
    <div>Assign athletes to workouts.</div>
  </div>
</body>
</html>