body {
  font-family: 'Roboto Mono', monospace;
}

#show-page {
  display: flex;
  flex-direction: column;
  gap: 10px;
  column-gap: 20px;
}
div.show-ulc {
  font-size: 4vmin;
}

#home-h1 {
  font-size: 10vmin;
}
#home-hook {
  font-size: 20px;
}

.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}

ul {
  margin: 0 0 1rem;
  padding: 0;
  list-style: none;
}
	
li {
  font-weight: bold;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}
	
.delete-form button {
  color: red;
}
	
li {
  list-style: none;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}