.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}

ul {
  margin: 0 0 1rem;
  padding: 0;
  list-style: none;
}
	
li {
  font-weight: bold;
}