<%- include('../partials/header') %>
<% if (user) { %>
<body>
    <form id="add-athlete-form" action="/athletes" method="POST">
        <label>Name:</label>
        <input type="text" name="name">
        <label>Date of birth:</label>
        <input type="date" name="dob">
        <input type="submit" value="Add Athlete">
      </form>

      <br>
      <br>

    <table>
        <thead>
            <tr>
              <th>Name:</th>
              <th>DOB:</th>
            </tr>
          </thead>
        <tbody>
            <% athletes.forEach(function(a) { %>
                <tr>
                    <td><%= a.name %></td>
                    <td><%= a.dob %></td><br>
                </tr>
                <% }); %>
        </tbody>
    </table>

</body>
<% } %>
</html>